:root {
  color-scheme: light dark;
  font-family: ui-monospace;
  font-size: 1.25em;
  text-align: justify;
}

@media (prefers-color-scheme: dark) {
:root {
  background: black;
  color: white;
}

a {
	color: #ffcb00;
}

}

h1, h2 {
	text-align: center;
}