:root {
  color-scheme: light dark;
  font-family: ui-monospace;
  font-size: 1.25em;
}

.wrapper {
  max-width: 900px;
  margin: auto;
}

@media (prefers-color-scheme: dark) {
:root {
  background: #0c0c0c;
  color: white;
}

a {
	color: #ffcb00;
}

}

h1, h2 {
	text-align: center;
}