:root {
  color-scheme: light dark;
  font-family: ui-monospace, Menlo, monospace;
  font-size: 1.25em;
}

.wrapper {
  max-width: 900px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}

a {
	color: #D22F2F;
}

ul {
    padding-left: 15px;
}​

.footer {
  margin-top: 20px;
  margin-bottom: 30px;
}

@media (prefers-color-scheme: dark) {
:root {
  background: #0c0c0c;
  color: white;
}

a {
  color: #ffcb00;
}
}

h1, h2 {
  text-align: center;
}